:root {
  --color-white: #fff;
  --color-lightgrey: #f4f4f9;
  --color-darkgrey: #333;
  --color-darkblue: #2c3e50;
  --color-darkblue-hover: #3e5771;
  --color-darkblue-disabled: #aabdd1;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
}

body {
  background-color: var(--color-lightgrey);
  color: var(--color-darkblue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  background-image: repeating-conic-gradient(at 63% 41%, white 1%, lightgrey 2%, #e6e6e6 3%);}

h1 {
  margin-bottom: 20px;
  font-size: 24px;
}

ul, li {
  margin: 10px;
}

a {
  color: var(--color-darkblue);
}

a:hover {
  color: var(--color-darkblue-hover);
}

li > a {
  font-size: 16px;
  font-weight: bold;
}

div.home {
  position: fixed;
  top: 10px;
  left: 10px;
}

section {
/*  background: var(--color-white);*/
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 600px;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);  
  border: 1px solid rgba(255, 255, 255, 0.50);
}

button {
  border: none;
  color: var(--color-white);
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  transition: background 0.3s ease;
}

input {
  padding: 10px;
  border: 1px solid;
  border-color: var(--color-darkblue);
  border-radius: 4px;
  width: 100%;
}

select {
  border: 1px solid;
  border-color: var(--color-darkblue);
  border-radius: 4px;
  padding: 10px;
  background-repeat: no-repeat;
  cursor: pointer;
  width: 100%;
}

select:hover {
  background-color: #f5f5f5;
}

select:focus {
  outline: none;
  border-color: #ccc;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.button-group button {
  background: var(--color-darkblue);
}

.button-group button:not(:disabled):hover {
  background: var(--color-darkblue-hover);
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.input-group label {
  margin-bottom: 5px;
}

.input-group input, select {
  margin-bottom: 10px;
}

.inline {
  display: flex;
  align-items: center;
}

.inline input {
  flex-grow: 1;
  margin-right: 10px;
}

.input-group button {
  align-self: flex-start;
  background: var(--color-darkblue);
}

.input-group button:not(:disabled):hover {
  background: var(--color-darkblue-hover);
}

button:disabled {
  background: var(--color-darkblue-disabled);
  cursor: not-allowed;
}

input:disabled {
  background: #f0f0f0;
  border: 1px solid #dcdcdc;
  color: #999;
  cursor: not-allowed;
}